<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a>Primary</a>
</p>

<p>
  <a>Secondary</a>
</p>

<p>
  <a>Success</a>
</p>

<p>
  <a>Danger</a>
</p>

<p>
  <a>Warning</a>
</p>

<p>
  <a>Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="beta-button">Primary (unobtrusive)</a>
</p>

<p>
  <a class="beta-button">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="beta-button">Success (unobtrusive)</a>
</p>

<p>
  <a class="beta-button">Danger (unobtrusive)</a>
</p>

<p>
  <a class="beta-button">Warning (unobtrusive)</a>
</p>

<p>
  <a class="beta-button">Info (unobtrusive)</a>
</p>
