<!-- Write CSS in public/css/my_styles.css to make the following <a> tags look like buttons of various colors -->

<p>
  <a class="btn, prime-btn" >Primary</a>
</p>

<p>
  <a class="btn, second-btn" >Secondary</a>
</p>

<p>
  <a class="btn, success-btn" >Success</a>
</p>

<p>
  <a class="btn, danger-btn" >Danger</a>
</p>

<p>
  <a class="btn, warning-btn" >Warning</a>
</p>

<p>
  <a class="btn, info-btn" >Info</a>
</p>


<p>Less intrusive variants:</p>

<p>
  <a class="soft-btn, soft-prime">Primary (unobtrusive)</a>
</p>

<p>
  <a class="soft-btn, soft-second">Secondary (unobtrusive)</a>
</p>

<p>
  <a class="soft-btn, soft-success">Success (unobtrusive)</a>
</p>

<p>
  <a class="soft-btn, soft-danger">Danger (unobtrusive)</a>
</p>

<p>
  <a class="soft-btn, soft-warning">Warning (unobtrusive)</a>
</p>

<p>
  <a class="soft-btn, soft-info">Info (unobtrusive)</a>
</p>
